.footer-container {
    background-color: rgb(99, 99, 209);
    color: white;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .footer-column {
    flex: 1;
    margin-right: 20px;
  }
  
  .footer-content {
    text-align: center;
    width: 100%;
    margin-top: 20px;
  }
  
  