.header {
  background-color: rgba(40, 36, 245, 0.4);
  backdrop-filter: blur(5px);
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 20px;
}

.icon {
  width: 70px; 
  height: 40px;
  color: white; 
}

.icon-container {
  display: flex;
  align-items: center;
}

.cart-icon {
  position: relative;
  cursor: pointer;
}

.cart-count {
  position: absolute;
  top: -8px;
  right: -8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 18px;
  background-color: red;
  color: white;
  font-size: 12px;

  font-weight: bold;
  border-radius: 50%;
}

.header-image {
  width: 40px; 
  height: 40px; 
  cursor: pointer;
}

